@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: light
) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

@layer utilities {
	.clip-path-polygon {
		clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
	}
	.clip-path-polygon-res {
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	}
	.clip-path-polygon-res-l {
		clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
	}
}

body {
	background: #f8faff;
}
